@tailwind base;
@tailwind components;
@tailwind utilities;

.line-chart-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .tooltip {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #5D3FD3;
    border-radius: 4px;
    background-color: transparent;
    color: #5D3FD3;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-button:hover {
    background-color: #5D3FD3;
    color: #f9f9f9;
  }
  
  .pagination-button.active {
    background-color: #5D3FD3;
    font-weight: 500;
    color: #fff;
  }
  